
# Connection configuration files (contain sensitive server information)
*ConnectionConfig.asset
*ConnectionConfig.asset.meta
ConnectionConfig.asset
ConnectionConfig.asset.meta
**/ConnectionConfig.asset
**/ConnectionConfig.asset.meta
